// Fuente body
$font: "Karla", sans-serif;
$font-title:  "papyrus", fantasy;
// Color botones
$borde-btn: rgb(171, 171, 171);
$btn-compra: black;
$btn-compra-hover: white;
$btn-buscar:#3b5359;
$btn-buscar-hover: rgb(119, 171, 185);
$btn-admin: black;
$btn-admin-hover: white;
$btn-alert-cerrar: black;
$btn-alert-cerrar-hover: rgb(99, 98, 98);
$btn-alert-eliminar: red;
$btn-carrito: white;
$btn-eliminar: rgb(237, 9, 9);
$btn-eliminar-hover: rgb(240, 115, 115);
$btn-modificar: #3b5359;
$btn-modificar-hover: rgb(119, 171, 185);
$btn-guardar: rgb(47, 201, 116);
$btn-guardar-hover: rgb(155, 241, 194);
// Texto
$tam-desc:17px;
// emoji
$emoji:' ❀ ';
$emoji-producto:' ❈ ';
$emoji-tipo-producto:' ❦ ';
$emoji-eliminar: ' 🗑 ';
// Color texto
$color-title: #3b5359;
$color-text-saludo:white;
$color-text-atras:white;
$color-btn-sesion:white;
$color-btn-admin:white;
$color-btn-carrito:black;
$color-text-footer:white;
$color-text:#848484;
$color-text-modificar:white;
// Color Fondo
$fondo-animacion: rgb(238, 236, 236);