{% extends "index.html" %}
{% block content %}    
<form class="col-12 d-flex flex-row align-items-center buscar" action="/busqueda" method="POST">
    <input name="producto" class="col-3" type="text" id="buscador" placeholder="Buscar productos" list="listaProEncontrados" required>
    <datalist id="listaProEncontrados"></datalist>
    <button type="submit" class="btn btn-primary" id="boton_buscar">BUSCAR</button>
</form>

<div class="col-12 d-flex flex-row">
    <div class="col-1 banerIzquierdo">
            
    </div>

    <div class="col-10 contenido">  

        <div class="row">
            <h3 style="text-align: center;">Resultados</h3>

            <div class="col-6">
                <h4 style="text-align: center;">Bebidas</h4>
                {% if bebidas %}
                    {% for bebida in bebidas %}
                            
                        {% if bebida['estado'] == 1 %}
                            <form class="producto bebida seleccionar " action="" method="post">
                                <img src="{{bebida['img_ruta']}}" alt="{{bebida['nombre']}}">
                                <div class="info_producto">
                                    <legend>{{bebida['nombre']}}</legend>
                                    <label style="color: #848484;padding-left: 10px; ">{{bebida['descripcion']}}</label>
                                    <label style="color: #848484;padding-left: 10px; ">Precio: {{bebida['precio']}} €</label>
                                    <input class="comprar" type="submit" value="Agregar al Pedido">
                                </div>
                            </form>
                        {% else %}
                            <form class="producto bebida noSeleccionar" style="background-color:  #f1f0f0 ;" action="" method="post">
                                <img src="{{bebida['img_ruta']}}" alt="{{bebida['nombre']}}">
                                <div class="info_producto">    
                                    <legend>{{bebida['nombre']}} (NO DISPONIBLE)</legend>
                                    <label style="color: #848484;padding-left: 10px; ">{{bebida['descripcion']}}</label>
                                    <label style="color: #848484;padding-left: 10px; ">Precio: {{bebida['precio']}} €</label>
                                </div>
                            </form>
                        {% endif %}
                        
                    {% endfor %}
                {% else %}
                            <p class="no-encontrado">No se han encontrado bebidas con el parámetro introducido.</p>
                {% endif %}
            </div>

            <div class="col-6">
                <h4 style="text-align: center;">Aperitivos</h4>  
                {% if aperitivos %}  
                    {% for aperitivo in aperitivos %}
                        
                        {% if aperitivo['estado'] == 1 %}
                            <form class="producto aperitivo seleccionar " action="" method="post">
                                <img src="{{aperitivo['img_ruta']}}" alt="{{aperitivo['nombre']}}">
                                <div class="info_producto">
                                <legend>{{aperitivo['nombre']}}</legend>
                                <label style="color: #848484;padding-left: 10px; ">{{aperitivo['descripcion']}}</label>
                                <label style="color: #848484;padding-left: 10px; ">Precio: {{aperitivo['precio']}} €</label>
                                <input class="comprar" type="submit" value="Agregar al Pedido">
                                </div>
                            </form>
                        {% else %}
                            <form class="producto aperitivo noSeleccionar" style="background-color:  #f1f0f0 ;" action="" method="post">
                                <img src="{{aperitivo['img_ruta']}}" alt="{{aperitivo['nombre']}}">
                                <div class="info_producto">
                                <legend>{{aperitivo['nombre']}} (NO DISPONIBLE)</legend>
                                <label style="color: #848484;padding-left: 10px; ">{{aperitivo['descripcion']}}</label>
                                <label style="color: #848484;padding-left: 10px; ">Precio: {{aperitivo['precio']}} €</label>
                                </div>
                            </form>
                        {% endif %}
                    
                    {% endfor %}
                {% else %}
                            <P  class="no-encontrado">No se han encontrado aperitivos con el parámetro introducido.</P>
                {% endif %}
                </div>
            
        </div>
    </div>

    <div class="col-1 banerDerecho">

    </div>
</div>
{% endblock content %}